<%-include("navbar.ejs")%>

<div class="container-fluid bg-white p-4">
    <h1>Product Information</h1>
    <div class="row mt-4">
        <div class="col-md-3 mt-3 mt-4">
            <b>Product Name </b>
            <p><%=product_info[0].product_name%></p>
        </div>

                <div class="col-md-3 mt-3">
            <b>Product Company </b>
            <p><%=product_info[0].product_company%></p>
        </div>

         <div class="col-md-3 mt-3">
            <b>Product Color </b>
            <p><%=product_info[0].product_colors%></p>
        </div>

         <div class="col-md-3 mt-3">
            <b>Product label </b>
            <p><%=product_info[0].product_label%></p>
        </div>


        <% product_price.map(function(val,i){ %>

        <div class="col-md-2 mt-4">
            <b> Product Size <%=product_price[i].product_size%></b>
            <p> &#8377;<%=product_price[i].product_price%>    <b> <del>&#8377;<%=product_price[i].product_duplicate_price%></del> </b></p>

        </div>

      <%   }) %>
 


         <div class="col-md-3 mt-3 my-2">
            <b >Product Image1 </b>
            <img class=" mt-3" src="/upload/<%=product_info[0].product_image1%>" alt="">
        </div>

        
         <div class="col-md-3 mt-3 my-2">
            <b >Product Image2 </b>
            <img class=" mt-3" src="/upload/<%=product_info[0].product_image2%>" alt="">
        </div>

        
         <div class="col-md-3 mt-3 my-2">
            <b >Product Image3 </b>
            <img class=" mt-3" src="/upload/<%=product_info[0].product_image3%>" alt="">
        </div>

        
         <div class="col-md-3 mt-3 my-2">
            <b >Product product_image4 </b>
            <img class=" mt-3" src="/upload/<%=product_info[0].product_image4%>" alt="">
        </div>

        <div class="col-md-12 my-2">
            <b>Product details</b>
            <textarea style="height: 200px;" class="form-control" name="" id=""><%=product_info[0].product_details%></textarea>
        </div>
    </div>

    </div>
<%-include("footer.ejs")%>